* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 1rem;
	color: #404040;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

/* ==================
    Typography
===================== */

h1,
h2 {
	font-weight: 700;
}

/* ===========

    general layout

    =========
*/

.main-grid {
	display: grid;
	grid-template-columns: auto 1fr auto;
	place-items: center;
	gap: 1em;
}

.wrapper {
	max-width: 1400px;
	margin-inline: auto;
	padding-inline: 2em;
	width: 100%;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	grid-column: 1 / -1;
}

.nav-list {
	display: flex;
	gap: 0.8em;
	list-style: none;
	justify-self: flex-end;
	align-self: center;
}

.social-item {
	font-size: 1.6rem;
	margin-top: 10px;
}

.open-nav {
	border: 0;
	background: none;
	cursor: pointer;
	margin-left: auto;
	font-size: 3em;
}

.logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 1;
}

/* icons */

.facebook,
.twitter {
	color: royalblue;
}
.instagram {
	color: purple;
}
